@model Nop.Plugin.Widgets.HomePageNewProducts.Models.ConfigurationModel
@using Nop.Web.Framework;

@{
    Layout = "";
}

@Html.Action("StoreScopeConfiguration", "Setting", new { area = "Admin" })
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <fieldset>
        <legend><strong>"@T("Admin.Catalog.Products")"</strong></legend>
        <table class="adminContent">
            <tr>
                <td class="adminTitle">
                    @Html.LabelFor(model => model.NumberOfProducts):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.NumberOfProducts)
                    @Html.ValidationMessageFor(model => model.NumberOfProducts)
                </td>
            </tr>
        </table>
    </fieldset>
    <table class="adminContent">
        <tr>
            <td colspan="2">
                <input type="submit" name="save" class="k-button" value="@T("Admin.Common.Save")" />
            </td>
        </tr>
    </table>
}